.player-popup-background {
    background-color: #c4c4c4;
    width: 40vw;
    height: 45vh;
    display: block;
    border: outset rgba(0,0,0,.1) 10px;
    border-radius: 10px;
}

.player-popup-avatar {
    position: absolute;
    top: 5%;
    left: 5%;
}

.player-popup-text {
    width: 70%;
    height: 35%;
    position: absolute;
    right: 5%;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
}

.player-popup-card-section {
    position: relative;
    width: 95%;
    height: 50%;
    top: 45%;
    left: 2.5%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0;

}

.player-popup-card{
    margin-right: 5px;
    height: 100%;
    width: 15vw;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: row;
    max-width: 150px;
}

.player-popup-card-x {
    position: absolute;
    margin: 0;
    top: 4%;
    right: 4%;
    color: black;
    font-weight: bolder;
    cursor: pointer;
    font-size: 40px;
}

