.PlayerCard {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
    background-color: #E5E5E5;
}



.PlayerCard-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: calc(5px + 2vmin);
    color: black;
}

.PlayerCard-Name{
    font-family: Roboto;
    font-size: calc(5px + 1vmin);
    z-index: 3;
}

.PlayerCard-Summary{
    font-family: Roboto;
    font-size: calc(3px + 1vmin);
    z-index: 3;
}

.PlayerCard-Avatar{
    width: 60px;
    height: 65px;
    z-index: 2;
}

.PlayerCard-infoIcon {
    width: 20px;
    height: 20px;
    position: relative;
    left: 80px;
    cursor: pointer;
}

