.PlayerPopup {
    text-align: center;
}

.PlayerPopup-background {
    z-index: 6;
    position: absolute;
    top: 20%;
    left: 27.5%;
    background-color: gray;
}

.PlayerPopup-xButton {
    justify-content: left;
    position: absolute;
    z-index: 6;
    font-color: black;
    border-radius: 100%;
    padding: 0.75% 0.75%;
    top: 22.5%;
    left: 69%;
    background-color: grey;
    cursor: pointer;
}

.PlayerPopup-bubble {
    position: absolute;
    top: 25%;
    left: 30%;
    height: 22vmin;
    z-index: 6;
}

.PlayerPopup-text{
    position: absolute;
    justify-content: left;
    font-family: Roboto;
    font-weight: bold;
    color: black;
    top: 24.5%;
    font-size: calc(5px + 3vmin);
    display: flex;
    left: 43%;
    z-index: 6;
}
