.Board {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #4CACE9;
    color: #ffffff;
}

.playerCardSection {
    width: 220px;
    height: 940px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}

.gameCardSection {
    width: 200px;
    height: 900px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.card {
    height: 200px;
    width: auto;
    cursor: pointer;
}
