.Board {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #4CACE9;
    color: #ffffff;
}

.playerCardSection {
    width: 220px;
    height: 940px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}
