.Map {
    position: relative;
    width: 1000px;
    height: 950px;
    margin: 10px 20px 0 20px;
}

.Nashville-map {
    width: 940px;
    height: 910px;
    position: relative;
    top: 20px;

}

.gridLetters{
    width: 910px;
    position: absolute;
    left: 15px;
}

.gridNumbers {
    position: absolute;
    left: -25px;
    top: 20px;
    height: 880px;
}
