
.ResultsPage{
    z-index: 3;
    width: 100%;
    height: 100%;
}
.overlay {
    background-color: rgba(0, 0, 0, 1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 4vmin);
    z-index: 300;
} 

.ResultsPage-Title{
    text-align: center;
    font-family: Roboto;
    top: 5%;
    font-weight: bold;
    font-size: 50px;
    z-index: 2;
    vertical-align: center;
    line-height: 100%;
    color: #FFFFFF;
}


.boxed {
    padding: 20px;
    border: 1px solid green;
    width: 844px;
    height: 522px;
    background-color: rgb(219, 219, 219);
    opacity: 100%;
    z-index: 4;
    text-align: center;
    font-weight: bold;
}

.scores{
    color: #000000;
    font-size: 35px;
    z-index: 10;
    font-family: Roboto;
    opacity: 1.0;

}

.winner{
    color: #000000;
    font-size: 50px;
    font-family: Roboto;
}


