.background {
    width: 40vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 93%;
    height: 93%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-setup-section {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
