.Scrolldowns {
    text-align: center;
}

.Scrolldowns-numPlayers{
    width:10%;
    padding:10%;
    height: 10%;
    justify-content: center;
}

.Scrolldowns-cities{
    padding: 1% 3%;
    border-radius: 12px;
}

.Scrolldowns-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 4vmin);
    color: white;
}