

.welcomePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    height: auto;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.667);

    /* width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.667);
    font-family: Roboto, sans-serif;  */
    
}


.backgroundImage {
    background-image: url("../../GOR-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title {
    margin: 0px
}

/* .example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
} */

.club-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15vh;
    position: absolute;
    bottom: 10vh;

}

.club-logo-image {
    width: 7vw;
    height: auto;
}


/*fade-in transition to this page*/

.text-grid{
    
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}
@keyframes fadeInOpacity {
   0% {
       opacity: 0;
   }
   100% {
       opacity: 1;
   }
}
